.button {
  cursor: pointer;
  background-color: brown;
  border-radius: 5px;
  color: white;
  padding: 1rem;
  font: inherit;
  font-size: 15px;
  border: 1px solid brown;
  margin: auto 2px;
}

.button:hover,
.button:active {
  background: rgb(206, 95, 95);
  border-color: rgb(122, 11, 11);
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
